.header {
  height: 55px;
  width: 100%;
  background-color: #F4F4F4;
  color: #000000;
  font-size: 18px;
  font-family: "Helvetica";
  text-align: center;
  vertical-align: middle;
  line-height: 55px;

  -moz-box-shadow:    inset 0 -1px #DEDFE0;
  -webkit-box-shadow: inset 0 -1px #DEDFE0;
  box-shadow:         inset 0 -1px #DEDFE0;
}
