.header {
  height: 55px;
  width: 100%;
  background-color: #F4F4F4;

  -moz-box-shadow:    inset 0 -1px #DEDFE0;
  -webkit-box-shadow: inset 0 -1px #DEDFE0;
  box-shadow:         inset 0 -1px #DEDFE0;
}

.container {
  font-size: 18px;
  font-family: "Helvetica";
  vertical-align: middle;
  color: #000000;
}

.header-text {
  line-height: 55px;
  float: left;
  text-align: center;
  width: 100%;
}

.settings {
  float: right;
  margin-top: 15px;
  margin-right: 18px;
  margin-left: -42px;
  color: #7C7D7E;
  width: 24px;
  height: 24px;
  background-image: url('../../public/Settings.svg');
  background-size: 24px 24px;
  background-repeat: no-repeat;

  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup-text {
  visibility: hidden;
  float: right;
  right: 0;
  width: 205px;
  background-color: #fff;
  color: #000000;
  text-align: left;
  padding-left: 35px;
  margin-right: 8px;
  z-index: 1;
  margin-top: 57px;
  position: absolute;
  border: 1px solid #dedfe0;
  border-radius: 0.25em;
}

.popup-text::before {
  border-color: transparent transparent #dedfe0 transparent;
  border-width: 12px;
  border-style: solid;
  content: "";
  position: absolute;
  margin-left: 172px;
  bottom: 100%;
}

.popup-text::after {
  content: "";
  position: absolute;
  margin-left: 173px;
  bottom: 100%;
  border-width: 11px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
}

.show {
  visibility: visible;
  padding-bottom: 15px;
}

.hidden {
  visibility: hidden;
}

.prompt {
  padding-top: 22px;
  padding-bottom: 5px;
  line-height: 14px;
  font-size: 14px;
  font-weight: bold;
}

.label {
  line-height: 29px;
  font-size: 14px;
  color: #000000;
}

@media only screen and (max-width: 860px) {
  .container:lang(es) {
    font-size: 14px;
  }
}

@media print {
  .header {
    -webkit-print-color-adjust: exact;
  }
}
