language: node_js
sudo: required
jdk: oraclejdk8
addons:
  apt:
    packages:
      - oracle-java9-set-default
branches:
  only:
    - master
node_js:
  - '6'
  - '6.9'
cache:
  directories:
    - node_modules
script:
  - npm run lint
  - npm test
  - npm run test:nightwatch
