.container {
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 45px;
}

.header {
  width: 100%;
  min-height: 40px;
  border: solid #E2E3E3 1px;
}

.title {
  padding: 11px 0 12px 0;
  color: #007CC3;
  font-size: 14px;
  font-family: "Helvetica";
  display: inline-block;
}

.body {
  width: 100%;
  border: solid #E2E3E3 1px;
  border-top: none;
}

.description {
  color: #505456;
  font-size: 14px;
  font-family: "Helvetica";
  padding: 16px 10px 20px 11px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 11px solid #007CC3;
  display: inline-block;

  padding-right: 8px;
  margin-left: 11px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 11px solid #007CC3;
  display: inline-block;

  margin-left: 11px;
  margin-right: 8px;
}

.collapsed {
  display: none;
}

input[name="dropdown"] {
  cursor: pointer;
}

@media print {
  .page-break {
    page-break-inside: avoid;
  }
}
