.container {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

.divide {
  width: 80%;
  height: 1px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #C1C1C1;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-clip: content-box;
}

.page-break {
  display: none;
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }

  .divide {
    -webkit-print-color-adjust: exact;
  }
}

@media only screen and (max-width: 700px) {
  .divide:lang(es) {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
